<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Amasty_SecondBaharOleg" translate="label" sortOrder="10">
            <label>Amasty Second Bahar Oleg</label>
        </tab>
        <section id="second_bahar_config" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Second Bahar Oleg Config</label>
            <tab>Amasty_SecondBaharOleg</tab>
            <resource>Amasty_SecondBaharOleg::config</resource>
            <group id="general" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="promo_sku" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Promo Sku</label>
                </field>
                <field id="for_sku" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>For Sku</label>
                </field>
            </group>
        </section>
    </system>
</config>